# data merging 

_desired model inputs:_

Player Efficiency Ratings of each player - seasons_per_s.csv 

Location of the game- arena volume_game_stats.parquet.gzip

Teams average last season then (last 5 games) - subset
Individual game stats (2022)

potentially compare past matchups between the two teams

In [1]:
import pandas as pd

In [20]:
season_schedules = pd.concat([pd.read_parquet('[2017, 2018].parquet.gzip'), pd.read_parquet('[2019, 2020].parquet.gzip'), pd.read_parquet('[2021, 2022].parquet.gzip')], ignore_index = True)
# pd.read_parquet('[2015, 2016].parquet.gzip'),
season_schedules['date'] = pd.to_datetime(season_schedules['date'])
season_schedules

,season,date,away_team_id,home_team_id,arena,link
0,2017,2016-10-25,NYK,CLE,Quicken Loans Arena,/boxscores/201610250CLE.html
1,2017,2016-10-25,UTA,POR,Moda Center,/boxscores/201610250POR.html
2,2017,2016-10-25,SAS,GSW,Oracle Arena,/boxscores/201610250GSW.html
3,2017,2016-10-26,DAL,IND,Bankers Life Fieldhouse,/boxscores/201610260IND.html
4,2017,2016-10-26,MIA,ORL,Amway Center,/boxscores/201610260ORL.html
...,...,...,...,...,...,...
6880,2022,2022-04-27,DEN,GSW,Chase Center,/boxscores/202204270GSW.html
6881,2022,2022-04-28,PHI,TOR,Scotiabank Arena,/boxscores/202204280TOR.html
6882,2022,2022-04-28,PHO,NOP,Smoothie King Center,/boxscores/202204280NOP.html
6883,2022,2022-04-28,DAL,UTA,Vivint Smart Home Arena,/boxscores/202204280UTA.html
6884,2022,2022-04-29,MEM,MIN,Target Center,/boxscores/202204290MIN.html

In [19]:
season_game_stats = pd.concat([pd.read_parquet('[2017, 2018]_game_stats.parquet.gzip'), pd.read_parquet('[2019, 2020]_game_stats.parquet.gzip'), pd.read_parquet('[2021, 2022]_game_stats.parquet.gzip')], ignore_index = True)
# pd.read_parquet( '[2015, 2016]_game_stats.parquet.gzip'),
season_game_stats['date'] = pd.to_datetime(season_game_stats['date'])
season_game_stats

,date,home_team,home_fg,home_fga,home_fg_pct,home_fg3,home_fg3a,home_fg3_pct,home_ft,home_fta,...,away_orb,away_drb,away_trb,away_ast,away_stl,away_blk,away_tov,away_pf,away_pts,arena
0,2016-10-25,CLE,45,94,.479,13,35,.371,14,19,...,13,29,42,17,6,6,18,22,88,Quicken Loans Arena
1,2016-10-25,POR,39,75,.520,13,19,.684,22,22,...,6,25,31,19,9,5,11,19,104,Moda Center
2,2016-10-25,GSW,40,85,.471,7,33,.212,13,18,...,21,34,55,25,13,3,13,19,129,Oracle Arena
3,2016-10-26,IND,47,93,.505,10,19,.526,26,34,...,10,39,49,26,8,8,15,27,121,Bankers Life Fieldhouse
4,2016-10-26,ORL,34,89,.382,6,18,.333,22,28,...,16,36,52,27,5,7,10,22,108,Amway Center
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6880,2022-04-27,GSW,37,82,.451,13,31,.419,15,21,...,14,36,50,26,5,5,14,21,98,Chase Center
6881,2022-04-28,TOR,35,89,.393,7,35,.200,20,25,...,10,37,47,32,4,4,11,22,132,Scotiabank Arena
6882,2022-04-28,NOP,42,83,.506,8,24,.333,17,19,...,5,27,32,23,8,2,14,21,115,Smoothie King Center
6883,2022-04-28,UTA,36,84,.429,9,35,.257,15,20,...,3,34,37,22,6,4,9,19,98,Vivint Smart Home Arena
6884,2022-04-29,MIN,38,84,.452,12,31,.387,18,26,...,16,39,55,24,7,8,18,21,114,Target Center

In [43]:
all_season_rosters = pd.read_csv('season_rosters.csv')
all_season_rosters["team_id"] = all_season_rosters["team_dir"].str[7:10]
all_season_rosters

,Year,Team,team_dir,Player,player_dir,team_id
0,2015,Golden State Warriors,/teams/GSW/2015.html,Leandro Barbosa,/players/b/barbole01.html,GSW
1,2015,Golden State Warriors,/teams/GSW/2015.html,Harrison Barnes,/players/b/barneha02.html,GSW
2,2015,Golden State Warriors,/teams/GSW/2015.html,Andrew Bogut,/players/b/bogutan01.html,GSW
3,2015,Golden State Warriors,/teams/GSW/2015.html,Stephen Curry,/players/c/curryst01.html,GSW
4,2015,Golden State Warriors,/teams/GSW/2015.html,Festus Ezeli,/players/e/ezelife01.html,GSW
...,...,...,...,...,...,...
4804,2022,Portland Trail Blazers,/teams/POR/2022.html,Tony Snell,/players/s/snellto01.html,POR
4805,2022,Portland Trail Blazers,/teams/POR/2022.html,Trendon Watford,/players/w/watfotr01.html,POR
4806,2022,Portland Trail Blazers,/teams/POR/2022.html,Brandon Williams,/players/w/willibr03.html,POR
4807,2022,Portland Trail Blazers,/teams/POR/2022.html,Justise Winslow,/players/w/winslju01.html,POR
4808,2022,Portland Trail Blazers,/teams/POR/2022.html,Cody Zeller,/players/z/zelleco01.html,POR

In [57]:
# player_pers = pd.read_csv('seasons_per_s.csv')
player_pers['Year'] = player_pers['season']
player_pers['Year'] = player_pers['Year'].str[:2] + player_pers['Year'].str[-2:]
player_pers['Year'] = player_pers['Year'].astype('int64')
player_pers

       season team_id                 player_dir   per  Year
0     2014-15     GSW  /players/b/barbole01.html  15.3  2015
1     2015-16     GSW  /players/b/barbole01.html  11.7  2016
2     2016-17     PHO  /players/b/barbole01.html  11.5  2017
3     2014-15     GSW  /players/b/barneha02.html  13.4  2015
4     2015-16     GSW  /players/b/barneha02.html  12.3  2016
...       ...     ...                        ...   ...   ...
5138  2021-22     POR  /players/b/browngr01.html  11.0  2022
5139  2021-22     POR  /players/c/cumbeja01.html   8.4  2022
5140  2021-22     POR  /players/m/mcgrica01.html  12.5  2022
5141  2021-22     POR  /players/w/watfotr01.html  15.8  2022
5142  2021-22     POR  /players/w/willibr03.html  11.0  2022

[5143 rows x 5 columns]

In [54]:
# roster merge 
player_info_per = all_season_rosters.merge(player_pers, how = "right", on=["Year", "player_dir", "team_id"])
player_info_per = player_info_per['Year', 'Team', 'player_dir', 'team_id', 'per']

,Year,Team,team_dir,Player,player_dir,team_id,season,per
0,2015,Golden State Warriors,/teams/GSW/2015.html,Leandro Barbosa,/players/b/barbole01.html,GSW,2014-15,15.3
1,2016,Golden State Warriors,/teams/GSW/2016.html,Leandro Barbosa,/players/b/barbole01.html,GSW,2015-16,11.7
2,2017,Phoenix Suns,/teams/PHO/2017.html,Leandro Barbosa,/players/b/barbole01.html,PHO,2016-17,11.5
3,2015,Golden State Warriors,/teams/GSW/2015.html,Harrison Barnes,/players/b/barneha02.html,GSW,2014-15,13.4
4,2016,Golden State Warriors,/teams/GSW/2016.html,Harrison Barnes,/players/b/barneha02.html,GSW,2015-16,12.3
...,...,...,...,...,...,...,...,...
5138,2022,Portland Trail Blazers,/teams/POR/2022.html,Greg Brown III,/players/b/browngr01.html,POR,2021-22,11.0
5139,2022,Portland Trail Blazers,/teams/POR/2022.html,Jarron Cumberland,/players/c/cumbeja01.html,POR,2021-22,8.4
5140,2022,Portland Trail Blazers,/teams/POR/2022.html,Cameron McGriff,/players/m/mcgrica01.html,POR,2021-22,12.5
5141,2022,Portland Trail Blazers,/teams/POR/2022.html,Trendon Watford,/players/w/watfotr01.html,POR,2021-22,15.8
5142,2022,Portland Trail Blazers,/teams/POR/2022.html,Brandon Williams,/players/w/willibr03.html,POR,2021-22,11.0

In [8]:
# def get_team_stats(date, num_games, team_id): #maybe add stats data as a param 
#     #to prevent data leakage drop games newer than the date of the game 
#     all_game_stats = pd.read_parquet("[2021, 2022]_game_stats.parquet.gzip")
#     all_game_stats= all_game_stats[all_game_stats['date'] < date
#     team_game_stats = 
def get_roster(all_season_rosters):

In [63]:
pd.read_parquet("[2015, 2016].parquet.gzip")[pd.read_parquet("[2015, 2016].parquet.gzip")['season']==2015]

,season,date,away_team_id,home_team_id,arena,link
0,2015,"Tue, Oct 28, 2014",ORL,NOP,Smoothie King Center,/boxscores/201410280NOP.html
1,2015,"Tue, Oct 28, 2014",DAL,SAS,AT&T Center,/boxscores/201410280SAS.html
2,2015,"Tue, Oct 28, 2014",HOU,LAL,STAPLES Center,/boxscores/201410280LAL.html
3,2015,"Wed, Oct 29, 2014",MIL,CHO,Time Warner Cable Arena,/boxscores/201410290CHO.html
4,2015,"Wed, Oct 29, 2014",PHI,IND,Bankers Life Fieldhouse,/boxscores/201410290IND.html
...,...,...,...,...,...,...
8605,2015,"Wed, Apr 15, 2015",DET,NYK,Madison Square Garden (IV),/boxscores/201504150NYK.html
8606,2015,"Wed, Apr 15, 2015",MIA,PHI,Wells Fargo Center,/boxscores/201504150PHI.html
8607,2015,"Wed, Apr 15, 2015",IND,MEM,FedEx Forum,/boxscores/201504150MEM.html
8608,2015,"Wed, Apr 15, 2015",DEN,GSW,Oracle Arena,/boxscores/201504150GSW.html
8609,2015,"Wed, Apr 15, 2015",SAC,LAL,STAPLES Center,/boxscores/201504150LAL.html

In [87]:
to_scrape = pd.read_parquet("[2015, 2016].parquet.gzip").drop_duplicates()
to_scrape.to_parquet("[2015, 2016].parquet.gzip")

In [91]:
to_scrape= pd.read_parquet("[2015, 2016].parquet.gzip")
to_scrape['date']= pd.to_datetime(to_scrape['date'])

scraped = pd.read_parquet("[2015, 2016]_game_stats.parquet.gzip")

scraped = scraped.drop_duplicates()
scraped.to_parquet("[2015, 2016]_game_stats.parquet.gzip")